<select
  placeholder="- Filter Month -"
  [(ngModel)]="filterMonth"
  (change)="filterData()"
>
  <option *ngFor="let month of months | keyvalue" value="{{ month.key }}">
    {{ month.value }}
  </option>
</select>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Actions</th>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Year</th>
      <th scope="col">Month</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let tier of tiers; index as index">
      <td>
        <a [routerLink]="'/form/' + tier.id">Edit</a>&nbsp;
        <a href="javascript:void(0)" (click)="delete(index)">Delete</a>
      </td>
      <th scope="row">{{ tier.id }}</th>
      <td>{{ tier.name }}</td>
      <td>{{ tier.year }}</td>
      <td>{{ months[tier.month] }}</td>
    </tr>
  </tbody>
</table>
