<table class="table">
  <thead>
    <tr>
      <th scope="col">Actions</th>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Amount</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <a [routerLink]="'/form/1'">Edit</a>
      </td>
      <th scope="row">1</th>
      <td>Tier 1</td>
      <td>$30.00</td>
    </tr>
    <tr>
      <td>
        <a [routerLink]="'/form/2'">Edit</a>
      </td>
      <th scope="row">2</th>
      <td>Tier 2</td>
      <td>$50.00</td>
    </tr>
    <tr>
      <td>
        <a [routerLink]="'/form/3'">Edit</a>
      </td>
      <th scope="row">3</th>
      <td>Tier 3</td>
      <td>$100.00</td>
    </tr>
  </tbody>
</table>
