<table class="table">
  <thead>
    <tr>
      <th scope="col">Actions</th>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Amount</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let tier of tiers; index as index">
      <td>
        <a [routerLink]="'/form/' + tier.id">Edit</a>&nbsp;
        <a href="javascript:void(0)" (click)="delete(index)">Delete</a>
      </td>
      <th scope="row">{{ tier.id }}</th>
      <td>{{ tier.name }}</td>
      <td>{{ tier.amount | currency }}</td>
    </tr>
  </tbody>
</table>
