<div class="row">
  <div class="col-6">
    <form>
      <div class="form-group">
        <label for="name">Name:<span class="text-danger"> *</span></label>
        <input type="text" class="form-control" />
      </div>
      <div class="form-group mt-2">
        <label for="name">Amount:<span class="text-danger"> *</span></label>
        <input type="text" class="form-control" />
      </div>
      <div class="form-group mt-4">
        <button type="button" class="btn btn-primary">Save</button>
      </div>
    </form>
  </div>
</div>
